<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>12 O'Clock Shadow - a Jazz / Swing / Blues band from the Seattle east side</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="12 O'Clock Shadow - a Jazz / Swing / Blues band from the Seattle east side">
        <meta name="author" content="Justin Beckwith">

        <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="~/css/styles.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                    <!--[if lt IE 9]>
                                                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                                            <![endif]-->
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/plugins/bootstrap/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/plugins/bootstrap/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/plugins/bootstrap/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="~/plugins/bootstrap/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="~/plugins/bootstrap/ico/favicon.png">

        <style>
            .thumbnail {
                height: 550px;
            }
        </style>
    </head>

    <body>
        <div class="navbar-wrapper">
            <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
            <div class="container">

                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="~/">12 O'Clock Shadow</a>
                        <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li><a href="~/">Home</a></li>
                                <li><a href="~/shows">Shows</a></li>
                                <li><a href="~/about">About</a></li>
                                <li><a href="~/contact">Contact</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!-- /.navbar-inner -->
                </div><!-- /.navbar -->
            </div> <!-- /.container -->
        </div><!-- /.navbar-wrapper -->
        @RenderSection("carosel", false)

        <div class="container marketing">
            @RenderBody()
        </div>

        <!-- FOOTER -->
        <footer>            
            <p style="text-align: center">&copy; @DateTime.Now.Year 12 O'Clock Shadow
        </footer>

        <script src="~/plugins/jquery-1.8.3.min.js"></script>
        <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>

        @RenderSection("lateScripts", false)

        <script>
            var menu = document.getElementsByClassName('nav')[0];
            for (var i = 0; i<menu.children.length; i++) {
                if (menu.children[i].children[0].innerText == '@PageData["menu"]') {
                    menu.children[i].className = "active";
                }
            }
        </script>

    </body>
</html>